header,
footer {
  background-color: #773d24;
  color: white;
  text-align: center;
  padding: 20px;
}

main {
  background-color: #b97e65;
  height: 600px;
}

table {
  width: 80%;
  border-spacing: 30px;
}

td {
  background-color: #dead98;
}

p {
  text-align: center;
}

h1 {
  margin: 0;
}
