body {
  font-family: Georgia;
}

.menu,
.logo {
  background-color: #63ac74;
  color: orange;
  height: 140px;
  width: 50%;
  text-align: right;
  font-size: 160%;
}

main {
  background-color: #e3f6e7;
  height: 500px;
  padding: 20px;
}

.blok {
  background-color: #63ac74;
  height: 150px;
  width: 25%;
}

a {
  color: orange;
  margin: 15px;
}

table {
  width: 100%;
  border: 2px solid green;
}

.head {
  background-color: #63ac74;
  color: white;
}

header,
footer {
  display: flex;
}

.align {
  text-align: right;
}
