body {
  background-color: #eee;
}

.box {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#info,
footer {
  background-color: #c0c0c0;
  height: 100px;
  padding: 10px 0 10px 0;
}
.hleft {
  width: 400px;
}
.hright {
  width: 600px;
}

header {
  background-color: #ddd;
  height: 200px;
}

main {
  padding: 50px;
}

footer {
  text-align: right;
}

.link {
  color: #555;
  padding: 50px;
  font-size: 200%;
  text-decoration: none;
}

hr {
  background-color: #c0c0c0;
  width: 70%;
  height: 2px;
}

table {
  text-align: left;
}

#info {
  display: flex;
}

.hright {
  display: flex;
}
